/*General*/
:root{
    --border: 1px red solid;
    --dark-gray:#333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Poppins";
}
html{
    scroll-behavior: smooth;
}
/*Font sizes*/
nav a, .lang{
    font-size: 1.33rem;
}
.mobile-nav a{
    font-size: 1.77rem;
}
h2{
    font-size: 2.369rem;
    margin-bottom: 2.369rem;
}
h3{
    font-size: 1.33rem;
    padding: 1.33rem 0;
}
/*Any .link animation*/
.link {
    font-weight: 600;
    color: white;
    text-decoration: none;
    position: relative;
}
.link::after {
	content:'';
    position: absolute;
    bottom: 0;
    left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
}
.link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}
.link:hover::after,
.link:focus::after{
	transform: scale(1);
}



/*Mobile nav*/
.toggle-button{
    position: absolute;
    top: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
}
.mobile-lang-toggle{
    display: flex;
    position: absolute;
    top: 5%;
    left: 5%;
}
.mobile-lang{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    padding-right: 2rem;
    display: block;
}
.mobile-lang.current{
    color: hotpink;
}
.bar.active:nth-child(1){
    transform: rotate(45deg);
    transform-origin: 0 50%;
}
.bar.active:nth-child(3){
    transform: rotate(-45deg);
    transform-origin: 0 50%;
}
.bar.active:nth-child(2){
    opacity: 0;
}
.bar{
    width: 100%;
    height: 3px;
    background-color: white;
    transition: transform 300ms, opacity 300ms;
}
.mobile-nav{
    min-height: 100vh;
    align-items: center;
    display: none;
}
.mobile-nav.active{
    display: flex;
}
.mobile-nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.mobile-link{
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 600;
    display: block;
    padding: 3vh;
 }
.mobile-nav a:hover{
    color: hotpink;
}
@media (width >= 800px){
    .toggle-button{
     display: none;
    }
 }

/*Desktop Navigation*/
header{
    min-height: 100vh;
    background: url(Images/Ramen3D.png),  rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.name{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 7rem;
    text-wrap: wrap;
    text-align: center;
}
.nav-wrap{
    display: flex;
    max-width: 1200px;
    margin: 0  auto;
    justify-content: space-between;
    padding-top: 5%;
}
/*Language toggle*/
.lang-toggle{
    display: flex;
    color: white;
}
.lang:first-child{
    margin-right: 2rem;
}
.lang{
    padding: 0.5rem 1rem;
    border: 2px white solid;
    border-radius: 50px;
    align-self: center;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.lang.current{
    background-color: white;
    color: #1a1a1a;
}
    
nav{
    color: white;
}
@media (width <= 1300px) {
    nav{
        padding-right:5%;
    }
    .lang-toggle{
        padding-left: 5%;
    }
    header h1{
        padding: 0 5% 0 5%;
    }
}
@media (width <= 1000px){
    header h1{
        text-align: center;
    }
}
@media (width <= 900px){
    .nav-wrap{
        flex-direction: column;
        align-items: end;
    }
    .lang-toggle{
        padding-right: 8%;
        padding-bottom: 3%;
    }
}
@media (width <= 800px){
    header h1{
        font-size: 16vw;
    }
    header{
        min-height: 50vh;
    }
    .nav-wrap{
        display: none;
    }
}
nav ul{
    width: fit-content;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    margin: 0 30px;
    align-items: center;
    display: flex;
    color: white;
    text-decoration: none;
    position: relative;
}
/*Hover animation*/
.nav-link::after {
	content:'';
    position: absolute;
    bottom: 0;
	width: 100%;
	height: 0.1em;
	background-color: white;
    transition: opacity 300ms, transform 300ms;
}
.nav-link::after {
	opacity: 1;
	transform: scale(0);
	transform-origin: center;
}
.nav-link:hover::after,
.nav-link:focus::after{
	transform: scale(1);
}



/*About me*/
.about-me{
    background-color: #1a1a1a;
    color: white;
}
.about-me article{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 10% 0;
}
.me-pic{
    width: 400px;
    rotate: -6deg;
    object-fit: contain;
}
.text{
    width: 60%;
}
#CV-btn-wrap{
    margin-top: 3.369rem;
}
#CV-btn{
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 0.4rem;
    background-color: #e82a57;

    display: flex;
    width: fit-content;
    align-items: center;
}
#CV-btn:hover{
    background-color: #d40b3a;
}
#CV-btn-wrap img{
    width: 1.5rem;
    margin-right: 1rem;
}
@media (width <= 1300px) {
    .about-me article{
        margin: 0 6% 0 6%;
    }
    .me-pic{
        width: 30%;
    }
}
@media (width <= 1000px){
    .about-me article{
        flex-direction: column;
    }
    .me-pic{
        width: 50%;
        margin-bottom: 10%;
        padding-left: 10px;
    }
    .text{
        width: 100%;
    }
}
@media (width <= 800px){
    .me-pic{
        width: 60%;
    }
}



/*What I do*/
.what-i-do{
    color: #1a1a1a;
}
.what-i-do article{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 0;
}
.what-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.what-article{
    max-width: 30%;
}
.what-article img{
    width: 100%;
}

@media (width <= 1300px) {
    .what-i-do article{
        margin: 0 6% 0 6%;
    }
}
@media (width <= 1000px){
    .what-row{
        flex-direction: column;
    }
    .what-article{
        max-width: 100%;
        padding-bottom: 10%;
    }
    .what-article img{
        width: 100%;
        max-height: 50vh;
        object-fit: cover;
    }
}
@media (width <= 800px){
    .what-article{
        padding-bottom: 15%;
    }
    .what-article img{
        width: 100%;
        max-height: 40vh;
        object-fit: cover;
    }
}



/*Get in touch*/
.contact{
    background-color: #1a1a1a;
    color: white;
}
.contact article{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10% 0 15% 0;
   
}
.icons{
    margin:30px 0;
}
.icons img{
    width: 50px;
    margin-right: 50px;
    transition: scale 300ms;
}
.icons img:hover{
    scale: 1.2;
}
@media (width <= 1300px) {
    .contact article{
        margin: 0 6% 0 6%;
    }
}



/*Footer*/
footer{
    background-color: #1a1a1a;
}
.footer-div{
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding-bottom: 3%;
}
@media (width <= 1300px) {
    .footer-div{
        margin: 0 6% 0 6%;
        padding-bottom: 6%;
    }
}